<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/LoginSignupStyle.css">
</head>
<body>
  <header>
    <h1><a href="/login">SubwayWeather</a></h1>
  </header>

  <main>
    <%- content %>
  </main>

  <footer>
    <p>weather API by <a href="https://www.data.go.kr/" target="_blank">공공 데이터포털</a></p>
    <p>subway API by <a href="https://data.seoul.go.kr/" target="_blank">서울 열린데이터 광장</a></p>
  </footer>
</body>
</html>
